.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #009eff;
    height: 68px;
    display: flex;
    justify-content: space-around;
}

.btn_container{
    transform: translateY(-50%);
    text-align: center;
    color: white;
    text-transform: uppercase;
}