.leaderboard_container{
    display: grid;
    padding: 1rem;
}
.leaderboard_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.global_leaderboard{
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.leaderboard_entries{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.leaderboards{
    display: flex;
    justify-content: space-around;
}