.voting_platform_container{
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 68px);
    gap: 1rem;
    padding: 1rem;
}

.vote_btn_container{
    display: flex;
    gap: 1rem;
}